# Jul-specific redirect + errors
board/
errors/

# Random crap we don't need
images/*.*
images/*/

# External 'plugins' (if you could get away with that name)
ext/
irc/

# Themeing
images/*.*
numgfx/*



# Trade secrets
lib/config.php
lib/firewall.php


# Local fun stuff
irc.php
.htaccess



# Thread "unread count" and reply buttons
!numgfx/jul*
!images/new*.png
!images/_.gif
!images/threadclosed.png

# Thread state indicators
!images/hot.gif
!images/new.gif
!images/off.gif
!images/hotoff.gif
!images/hotnew.gif
!images/offnew.gif
!images/offhotnew.gif
!images/getnew.png

# Default scheme stuff
!images/jul/

# New reply toolbar (not that it works)
!images/toolbar/


# Thread icons
!images/coin*
!images/icons


# Smilies
!images/smilies/


# Misc
!images/rpg/

